@{
    ViewBag.Title = "À propos de nous...";
}
<h2>@ViewBag.Title.</h2>


<p>Tire lire est un site de vente en ligne spécialisé dans les tirelires.
    De toutes formes, de toutes couleurs, découvrez nos tirelires de qualité.</p>
